<div data-hook="admin_user_form_fields">
  <p>
    Personal<%= radio_button('user', 'account_type', 'personal') %><br />
    Business<%= radio_button('user', 'account_type', 'business') %>
  </p>
  
  <%= f.field_container :email do %>
    <%= f.label :email, t("email") %><br />
    <%= f.text_field :email  %>
    <%= error_message_on :user, :email%>
  <% end %>
  
  <%= f.field_container :cpf do %>
    <%= f.label :cpf, t("cpf") %><br />
    <%= f.text_field :cpf  %>
    <%= error_message_on :user, :cpf%>
  <% end %>
  
  <p id="user_razao_box">
    <%= f.label :razao_social, t("razao_social") %><br />
    <%= f.text_field :razao_social, :class => 'title'  %>
  </p>

  <p id="user_cnpj_box">
    <%= f.label :cnpj, t("cnpj") %><br />
    <%= f.text_field :cnpj, :class => 'title'  %>
  </p>
  <p id="user_inscricao_box">
    <%= f.label :inscricao_estadual, t("inscricao_estadual") %><br />
    <%= f.text_field :inscricao_estadual, :class => 'title'  %>
  </p>

  <%= f.field_container :password do %>
    <%= f.label :password, t("password") %><br />
    <%= f.password_field :password  %>
    <%= f.error_message_on :password %>
  <% end %>

  <%= f.field_container :password do %>
    <%= f.label :password_confirmation, t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation  %>
    <%= f.error_message_on :password_confirmation %>
  <% end %>
</div>


<% if @user.respond_to?(:roles) %>
  <div data-hook="admin_user_form_roles">
    <p>
      <label><%= t("roles") %></label><br />
      <% for role in @roles %>
        <label class="sub">
          <%= check_box_tag "user[role][#{role.name}]", 1, @user.has_role?(role.name) %>
          <%= role.name %>
        </label> &nbsp;
      <% end %>
    </p>
  </div>
<% end %>